{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Olá, {{ user.name }}</strong>
    <p>{{ subtitle }}</p>

    <ul class="providers">
      {% if user.provider === false %}
        {% include "_partials/providers.njk" %}
      {% else %}
        {% include "_partials/schedules.njk" %}
      {% endif %}
    </ul>
    <a href="/app/logout" class="logout">Sair</a>
  </div>
{% endblock %}
